* {
    margin: 0;
    padding: 0;
}

header {
    background: url(img/DONACIONES.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

header h1 {
    text-align: center;
    font-size: 32px;
    color: white;
    padding: 30px 0;
    background-color: rgba(154, 140, 140, 0.8);

}

.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.contenedor .contenedor-producto {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .2s;
}

.contenedor .contenedor-producto .producto {
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    transition: .2s;

}

.contenedor-producto .producto:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05
}

.contenedor-producto .producto .imagen-producto {
    width: 100%;
}

.contenedor-producto .producto .nombre-producto {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-producto .producto .precio-producto {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

}

.contenedor-producto .producto .boton-producto {
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;

}

.carrito .header-carrito {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;

}

.carrito .producto-carrito{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .producto-carrito img{
    margin-right: 20px;
}
.carrito .producto-carrito .nombre-producto.carrito{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.carrito .producto-carrito .selector-cantidad{
    display: inline-block;
    margin-right: 25px; 
    }

.carrito .producto-carrito .cantidad-producto-carrito{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .producto-carrito .selector-cantidad i{
font-size: 18px;    
width: 32px;
height: 32px;
line-height: 32px;
text-align: center;
border-radius: 50%;
border: 1px solid #666;
cursor: pointer;
}
.carrito .producto-carrito .precio-producto-carrito{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;

}
.carrito .producto-carrito .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    background: transparent;
    z-index: 20 ;
}
.carrito .producto-carrito .btn-eliminar i{
    pointer-events: none;

}
.total-carrito{
    background-color: #f3f3f3;

padding: 30px;
}
.total-carrito .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 22px  ;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-carrito .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s ;

}
.total-carrito .btn-pagar:hover{
    scale: 1.05
}

@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-productos {
      width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
    
  }